/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9fafa;
    color: rgb(0, 0, 0);
    width: 100%;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo {
    color: #000000;
    text-decoration: none;
  }
  
  .navbar-links ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: gold;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  