
.recent-tournaments-container {
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto; 
  max-width: 100%; 
}

/* Table styling */
.tournaments-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; 
}

/* Table header */
.tournaments-table th,
.tournaments-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Sticky header */
.tournaments-table th {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 2; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.tournaments-table-wrapper {
  max-height: 60vh; 
  overflow-y: auto;  
  display: block;    
  overflow-x: auto;  
}


.tournaments-table a {
  color: #007bff;
  text-decoration: none;
}

.tournaments-table a:hover {
  text-decoration: underline;
}

